# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv/
env/
venv/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Docker
*.pid
*.pid.lock

# Pytest
.cache/

# MyPy
.mypy_cache/

# Pylint
pylint-report.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter
.ipynb_checkpoints

# Others
dist/
build/
*.egg-info